header {
  font-size: 1em;
  float:left;
  margin:auto;
  text-align:center;
  width:100%;
}
header img {
  width:30%;
  float:left;
  margin:10%;
  margin-top:0px;
  margin-bottom:0px;
}
.flexbox {
  height:100%;
  width:100%;
  justify-content:space-around;
  display:flex;
  flex-direction:row;
}
.flexbox-column {
  height:100%;
  width:100%;
  justify-content:space-around;
  display:flex;
  flex-direction:column;
}
nav .header-left a{
  font-size: 100%;
  padding:2%;
  padding-bottom:0px;
  padding-top:0px;
}
.dropdown-button {
  width:100%;
}
.dropdown {
  display:inherit;
  flex-direction:column;
  width:33%;
  position:relative;
}
.header-left {
  width: 70%;
  display:inherit;
  flex-direction:inherit;
}
.header-right{
  width:30%;
  display:inherit;
  flex-direction:inherit;
}
.lang-options {
  display:none;
  flex-direction:column;
  background-color:Gainsboro;
  z-index:1;
  width:100%;
  position:absolute;
}
.lang-options a{
  display:flex;
}
.dropdown:hover .lang-options{
  display:flex;
}
.lang-options a:hover{
  background-color:DarkGray;
}
.sign-in .sign-up {
  width:33%;
}
