header {
  font-size: 1em;
  float:left;
  margin:auto;
  text-align:center;
  width:100%;
}
header img {
  width:30%;
}
.flexbox {
  height:100%;
  width:100%;
  float:left;
  justify-content:space-around;
  display:flex;
  flex-direction:row;
}
nav {
  font-size: 100%;
}
.dropdown {
  overflow:hidden;
  position:relative;
  display:inline-block;
}
.lang-options {
  display:none;
  position:absolute;
  background-color:Gainsboro;
}
.dropdown:hover .lang-options{
  display:block;
}
.lang-options a:hover{
  background-color:DarkGray;
}

