header {
  font-size: 1em;
  float:left;
  margin:auto;
  text-align:center;
  width:100%;
}
header img {
  width:30%;
  float:left;
  margin:10%;
}
.flexbox {
  height:100%;
  width:100%;
  float:left;
  justify-content:space-around;
  display:flex;
  flex-direction:row;
}
.flexbox-column {
  height:100%;
  width:100%;
  float:left;
  justify-content:space-around;
  display:flex;
  flex-direction:column;
}
nav .header-left a{
  font-size: 100%;
  padding:5%;
}

.dropdown {
  overflow:hidden;
  width:100%;
}
.header-left {
  width: 70%;
}
.header-right{
  width:30%;
}
.lang-options {
  display:none;
  background-color:Gainsboro;
}
.dropdown:hover .lang-options{
  display:block;
}
.lang-options a:hover{
  background-color:DarkGray;
}

