* {
    box-sizing: border-box;
}
.row {
    width: 100%;
}
.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}
body {
    overflow-x:hidden;
    font-size: 16px;
    margin: 0;
}
img {
    max-width: 100%;
}
a {
    color:darkgreen;
}

h1{
   font-size: 64px;
}

header {
  font-size: 1em;
  float:left;
  margin:auto;
  text-align:center;
  width:100%;
}
header img {
  width:100%;
  float:left;
  margin:10%;
  margin-left:0px;
  margin-top:0px;
  margin-bottom:0px;
}
#header-logo {
  max-width:10%;
}

/*Insert CSS for nav here Abi */
.flexbox {
  height:100%;
  width:100%;
  justify-content:space-around;
  display:flex;
  flex-direction:row;
}
.flexbox-column {
  height:100%;
  width:100%;
  justify-content:space-around;
  display:flex;
  flex-direction:column;
}
nav .header-left a{
  font-size: 100%;
  padding:2%;
  padding-bottom:0px;
  padding-top:0px;
  margin:auto;
  text-decoration:none;
  color: #293730;
}
.dropdown {
  display:inline-block;
  position:relative;
  width:33%;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header-left {
  width:60%;
  float:left;
  display:inherit;
  background-color: #FEFCF8;
  flex-direction:inherit;
  padding:0px 100px 0px 50px;
  margin-right:4%;
  margin-left:4%;
  margin-top:1%;
  height: 50%;
}
.header-right-study-hub {
  width:40%;
  background-color: #FEFCF8;
  float:right;
  display:inherit;
  flex-direction:inherit;
  padding-right:1%;
  padding-top:1%;
}
.lang-options {
  display:none;
  background-color:#FEFCF8;
  border-color:#FDF8DC;
  border-style:solid;
  z-index:1;
  width:100%;
  position:absolute;
  box-shadow:0px 5px 7px 0px #293730;
  border-radius:5px;
}
.lang-options a{
  display:block;
  font-size:.9em;
  text-decoration:none;
}
.dropdown:hover .lang-options{
  display:block;
}
.lang-options a:hover{
  background-color:#293730;
  color:#FEFCF8;
}
.dropdown-button p{
  margin:auto;
}
.dropdown-button{
  width:100%;
  height:100%;
  margin:auto;
  background-color:#FEFCF8;
  border-color:#FEFCF8;
  border-style:solid;
  font-size:.9em;
}
#dropdown-img {
  max-width:20%;
  display:inherit;
  position:relative;
}
#lang{
  max-width:60%;
  display:inherit;
  position:relative;
}

#profile-header {
  max-width:60%;
  display:inherit;
  position:relative;
}
#profile-pic-header {
  max-width:20%;
  display:inherit;
  position:relative;
  border-radius: 100%;
}
#notifications-header {
  max-width:10%;
  display:inherit;
  position:relative;
  background-color:#FEFCF8;
  border-color:#FEFCF8;
  border-style:solid;
}
#notification-bell-img{
  max-width:80%;
  display:inherit;
  position:relative;
  margin:auto;
  background-color:#FEFCF8;
  border-color:#FEFCF8;
  border-style:solid;
}
/*End Abi Code*/

/* Left Column Styles */
.left {
    padding: 10px 0 80px 0;
    margin-top: 5%;
    width: 600px;
    display: block;
    margin-right:auto;
    margin-left: auto;
}

.right{
    float: left;

}
.details {
    text-align: center;
    background: white;
    height: 440px;
    border:1px solid black;
    border-radius: 5%;
    padding: 40px 60px 40px 60px;
}

.style2{
    width: 100%;
}

.details h1{
    text-align: center;
}
.details p {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: -25px;
}

.main{
  background-color: #ADB499 ; /* For browsers that do not support gradients */
  background-image: linear-gradient(#488455, #DAD299);
    height: 650px;
}

.main2{
    padding: 0 56px 0 56px;
}

.heading3 {padding:20px 0 20px 0}

.nearyou {
display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 10px;
  justify-content: center;
}

.nearyou2{
   display: grid;
  grid-template-columns: 560px 560px;
   grid-template-rows: 280px 280px; 
     column-gap: 10px;
    row-gap: 15px;
  justify-content: center;
}



.card {
  border-radius: 10px;
  border: 1px solid black;
  background: white;
  max-width: 270px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.cardtype{
border:1px solid black;
  border-radius:10px;
  background-color:white;
  padding: 16px;
  text-align: left;
}
.avatars {
  width:20%;
  margin-left:8px;
  margin-right:20px;
  margin-top:18px;
  float:left;
  display: inline-flex;
  flex-direction: row-reverse;
}

.avatar {
  position: relative;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  width: 100;
}

.avatar:not(:last-child) {
  margin-left: -60px;
}

.avatar img {
  width: 100%;
  display: block;
}


.btn{
margin-top: 32px;
margin-right: 15px;
margin-left: 15px;
border-radius: 5px;
font-size: 1em;
font-size: 'PT Serif', serif;
width:190px;
padding:4%;
background-color:#293730;
border-width: 2px;
border-color: #293730;
border-style: solid;
color: #FEFCF8;
cursor: pointer;
}

#get-started{
border-radius: 5px;
font-size: 1em;
font-size: 'PT Serif', serif;
width:48%;
padding:4%;
background-color:#293730;
border-width: 2px;
border-color: #293730;
border-style: solid;
color: #FEFCF8;
cursor: pointer;
}


form {
    margin-top: 16px;
        text-align: left;
        border: 1px solid black;
        width: 100%;
        height: 44px;
        border-radius: 5px;
        display:flex;
        flex-direction:row;
        align-items:center;
        background: white;
      }

      input {
        all: unset;
        font: 16px system-ui;
        color: green;
        height: 100%;
        width: 100%;
        padding: 6px 10px;
      }

      ::placeholder {
        color: black;
        opacity: 0.7; 
      }

      svg {
        color: black;
        fill: currentColor;
        width: 30px;
        height: 48px;
        padding: 3px;
      }

      #formButton {
        all: unset;
        cursor: pointer;
        width: 44px;
        height: 44px;
      }

body {
  margin: 0;
}

.avatars {
  display: inline-flex;
  flex-direction: row-reverse;
}

.avatar {
  position: relative;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}

.avatar:not(:last-child) {
  margin-left: -60px;
}

.avatar img {
  width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.scrolling_text {
  background: #293730;
    width: 100%;
  padding: 24px;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}
.text {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
   animation: animate_text 30s linear infinite;
}
.text span {
    margin: 0 40px;
}

footer {
    background:#293730;
    width: 100%;
}

.pagcontainer{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background:
}


/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  text-decoration:none;
}

.p1 a.is-active{
  background-color: #293730;
  border-radius: 100%;
  color: #FEFCF8;
}


@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}




@media screen and (min-width: 1020px){
/* Customize Navigation bar tabs by changing the width */
    nav a {
  
    }

/* Also remove left column from floating to the left so it falls below the right column and centered as well */
    .left {
        float:none;
          display: block;
        margin-right:auto;
        margin-left: auto;
    }
}

@media screen and (min-width:765px) and (max-width: 1020px){
    .nearyou2{ grid-template-columns: repeat(2, 1fr)};
}

@media screen and (min-width:540px) and (max-width: 765px){

}

@media screen and (max-width:540px){ 
    .nearyou2{ grid-template-columns: repeat(1, 1fr); }
    .nearyou{grid-template-columns: repeat(1, 1fr)}
}




